html, body, #wrapper {
    background-color: lightcyan;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-size: 100%;
}

#game {
    font-size: 16px;
    box-sizing: border-box;
	font-family: "DejaVuSansMono", "DejaVu Sans Mono", monospace;
    /* Size to cover the whole screen */
    height: 100%;
    min-height: 100vh;
    line-height: 1.0;
    background: #002b36; /* Solarized base03 #002b36 */
    color:#fdf6e3; /* Solarized base3; default - can be overwritten */
    margin: 2px;
    margin-left: 35px; /* Because of the new hamburger */
    padding: 0.5em 1em; /*1 em seems to be 12.8px*/
    text-align: left;
}    

button {
    background: #002b36; /* solarized base03 */
    color: cyan;
    border-color: cyan;
    border-style: solid;
    font-family: "DejaVuSansMono", "DejaVu Sans Mono", monospace;
    font-size: 1.0em;
    margin-left: 2px;
    margin-right: 2px;
}

.ent_button {
    color: yellow;
    border-color: yellow;
}

.it_button, .it_inv_button {
    color: lightyellow;
    border-color: lightyellow;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #game { font-size: 24px;}
}

div .ham {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.nav {
    position: fixed; /* Stay in place on scroll */
    top: 0;
    left: 0;
}

.map {
    position: fixed;
    top: 50px;
    left: 0;
    display: none; 
}

.map.visible {
    display: block;
}