(
    rooms: [
        (
            name: "Pub",
            desc: "This is a pub. There's a counter along the furthest wall, and an assortment of tables and chairs.",
            known: true,
            exits: [(Out, 1)],
        ),
        (
            name: "Street",
            desc: "The town street looks a bit deserted at this hour. The sky is overcast and it looks like it's going to rain any moment.",
            known: false,
            exits: [(In,0), (North, 3), (In, 2)],
        ),
        (
            name: "Hovel",
            desc: "This place looks like a dump. Dust and cobwebs rule the corners, but a part of the room is clearly lived in - there's a desk, a lamp, a simple stove and what looks like a bedroll.",
            known: false,
            exits: [(Out, 1)],
        ),
        (
            name: "Alley",
            desc: "This is a narrow, cramped alleyway lit by dim, flickering neon signs. Cables swing overhead to the tune of the whistling wind.",
            known: false,
            exits: [(South, 1), (In, 4)],
        ),
        (
            name: "Hotel hallway",
            desc: "This is a small hotel's hallway. Both walls are lined with identical doors, with green or red neon lights overhead.",
            known: false,
            exits: [(Out, 3), (West, 5)],
        ),
        (
            name: "Capsule",
            desc: "This is a tiny capsule, roughly a person's height across. At least long enough so one can lay down comfortably and there's an overhead storage space for anything a person might have, too.",
            known: false,
            exits: [(East, 4)],
        )
    ]
)