#game {
    font-size: 16px;
    box-sizing: border-box;
	font-family: "DejaVuSansMono", "DejaVu Sans Mono", monospace;
    font-size: 0.8em;
    height: 6em; /* 5 lines of text plus fudge*/
    line-height: 1.0;
    background: black;
    color: white; /* Default - overwritten by gameMessage */
    margin: 0;
    padding: 0.5em 1em; /*1 em seems to be 12.8px*/
    text-align: left;
    z-index: 1;
    max-width: 30.2em;
    min-height: 20em;
}    
    